<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%highlight(%d{yyyy-MM-dd HH:mm:ss} [%-5p]) %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>logs/%d{yyyy-MM-dd}.log</fileNamePattern>

            <!-- keep 30 days' worth of history capped at 3GB total size -->
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>

        </rollingPolicy>

        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%-5p] %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="nl.pindab0ter.eggbot" level="TRACE"/>
    <logger name="org.quartz" level="WARN"/>
    <logger name="com.kotlindiscord.kord" level="INFO"/>
    <logger name="com.kotlindiscord.kord.extensions.i18n" level="OFF"/>
    <logger name="org.flywaydb.core.internal" level="WARN"/>
    <logger name="org.flywaydb.core.internal.command" level="INFO"/>

    <!-- Set to DEBUG to debug:
        dev.kord.rest.request.KtorRequestException: REST request returned with HTTP 400 Bad Request. InvalidFormBody: Invalid Form Body
    -->
    <logger name="[R]:[KTOR]:[ExclusionRequestRateLimiter]" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>