<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%highlight(%d{yyyy-MM-dd HH:mm:ss} [%-5p]) %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>EggBot.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%-5p] %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="nl.pindab0ter.eggbot" level="TRACE"/>
    <logger name="org.quartz" level="WARN"/>
    <logger name="com.kotlindiscord.kord" level="INFO"/>
    <logger name="com.kotlindiscord.kord.extensions.i18n" level="OFF"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>